<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label>Nome</label>
        <input type="text" name="name"><br><br>
        <label>Ativo</label>
        <input type="checkbox" name="active"><br><br>
        <label>Semana</label>
        <input type="week" name="week"><br><br>
        <label>Mês</label>
        <input type="month" name="month"><br><br>

        <button type="submit">Enviar</button>
    </frorm>

    <p>Nome digitado: {{name}}</p><br>
    <p>Status: {{active}}</p><br>
    <p>Semana: {{week}}</p><br>
    <p>Mês: {{month}}</p><br>

</body>
</html>